<div class="grid grid-cols-4 gap-6">
    <div class="col-span-1">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-span-3">
        <app-card>
            <card-title>
                <h4 class="text-lg font-bold">
                    Compose a message
                </h4>
            </card-title>

            <form action="">
                <div class="form-group mb-3">
                    <label for="to" class="form-label">To</label>
                    <input type="email" id="" name="" class="form-control" placeholder="Enter recipient email address">
                </div>
                <div class="form-group mb-3">
                    <label for="to" class="form-label">Subject</label>
                    <input type="text" id="" name="" class="form-control" placeholder="Enter recipient email address">
                </div>

                <div class="form-group mb-3">
                    <label for="" class="form-label">Message <span>*</span></label>
                    <textarea name="" id="" class="form-control" cols="30" rows="10" placeholder="Enter the message here!"></textarea>
                </div>
                <button type="submit" class="btn  btn-roung btn-green w-full">Send Message</button>
            </form>
            <card-body>
            </card-body>
        </app-card>
    </div>
</div>