.bg-main{
    background-color: #191d23;
    color: #DDE6ED
}
.bg-primer{
    background-color: #212833;
    color: #DDE6ED
}

.text-plain{
    color: #DDE6ED;
}

.text-dark-blue{
    color: #191d23;
}

.border-main{
    border-color: #454b55;
}