<header class="bg-main shadow ">
    <div class="container py-4 flex items-center justify-between">
        <h4 class="font-bold text-xl">Mail Box</h4>
        <div class="flex items-center">
            @if (!(isAuthenticated$ | async)) {

                <a routerLink="register" class="px-3 font-medium hover:text-blue-400">Register</a>
                <a routerLink="" class="px-3 font-medium hover:text-blue-400">Login</a>
            }
            @else{

                <a class="px-3 cursor-pointer font-medium hover:text-blue-400" (click)="logout()">Logout</a>
            }
        </div>
    </div>
</header>

