<div class="w-4/5">
    <app-card>
        <card-title>
            <h4 class="text-lg font-bold">Login here</h4>
        </card-title>
        <card-body>
            <form action="">

                <div class="form-group mb-3">
                    <label for="" class="form-label">Email Address <span>*</span> </label>
                    <input type="email" class="form-control" placeholder="Enter your email address">
                </div>

                <div class="form-group mb-3">
                    <label for="" class="form-label">Password <span>*</span> </label>
                    <input type="password" class="form-control" placeholder="password">
                </div>
                <button type="submit" class="btn btn-blue">
                    Login
                </button>
            </form>
        </card-body>
    </app-card>
</div>