<div class="py-4 px-2 font-bold hover:bg-gray-50 cursor-pointer border-t group transition duration-300 hover:shadow-md">
    <div class="flex items-center">
        <div class="flex flex-1">
            <span class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-gray-300">{{data.sender.name | nameInitials}}</span>

            <div class="ms-2 flex-1">
                <div class="text-sm font-bold">
                    {{data.sender.name}}
                </div>
                <div class="text-sm text-gray-500">
                   {{data.subject}}
                </div>
            </div>
            <div class="inline-flex items-center text-xs text-gray-500 transition duration-500">
                {{data.createdAt | dateAgo}}
            </div>
        </div>
        <div class="font-normal hidden group-hover:inline-flex mx-2 transition duration-500">
            <i class="ri-delete-bin-5-line ri-lg text-red-500"></i>
        </div>
    </div>

</div>
