<div class="grid grid-cols-4 gap-6">
    <div class="col-span-1">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-span-3">
        <app-card>
            <card-title>
                <h4 class="text-lg font-bold">
                    Messages
                </h4>
            </card-title>
            <card-body>
                <div class="border-b border-cyan-100">  
                    @for (item of messageData$ | async; track $index) {
                        <app-message-item [data]="item"></app-message-item>
                    }                  
               
                    @if ((messageData$ | async)?.length === 0) {
                        <div class="flex justify-center flex-col items-center h-20 gap-2">
                            <p class="text-gray-400 font-semibold">No messages found</p>
                    <a routerLink="/compose" class="p-2 border rounded-lg text-green-600 border-green-500 cursor-pointer hover:bg-green-50">
                        Wanna send a message!
                    </a>
                        </div>
                    }
                </div>
            </card-body>
        </app-card> 
    </div>
</div>
<app-modal></app-modal>