<div>
    <app-card>
        <card-title>
            <h4 class="text-lg font-bold">
                Navigation
            </h4> 
        </card-title>
        <card-body>
            <div class="flex flex-col gap-2">
                <a routerLink="/messages/all" routerLinkActive="active" class="inline-flex bg-main hover:shadow-sm px-3.5 py-2 rounded-lg font-medium">Messages</a>
                <a routerLink="/messages/sent"
                routerLinkActive="active"   class="inline-flex bg-main px-3.5 py-2 rounded-lg font-medium hover:shadow-sm">Sent Messages</a>
                <a routerLink="/messages/trash"
                routerLinkActive="active"  class="inline-flex bg-main px-3.5 py-2 rounded-lg font-medium hover:shadow-sm">Trash Messages</a>
            </div>
        </card-body>
        
    </app-card>
    <button class="btn btn-green w-full mt-6" routerLink="/compose"> Compose Message
    </button>
</div>