<div>
    <button class="btn btn-green w-full mb-6" routerLink="/compose"> Compose Message
    </button>
    <app-card>
        <card-title>
            <h4 class="text-lg font-bold">
                Navigation
            </h4>
        </card-title>
        <card-body>
            <div class="flex flex-col gap-2">
                <a routerLink="/messages" class="inline-flex bg-gray-50 hover:bg-gray-300 px-3.5 py-2 rounded-lg font-medium">Messages</a>
                <a routerLink="" class="inline-flex bg-gray-50 hover:bg-gray-300 px-3.5 py-2 rounded-lg font-medium">Sent Messages</a>
                <a routerLink="" class="inline-flex bg-gray-50 hover:bg-gray-300 px-3.5 py-2 rounded-lg font-medium">Trash Messages</a>
            </div>
        </card-body>

    </app-card>
</div>