/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';

@import 'remixicon/fonts/remixicon.css';



@import './assets/scss/button';
@import './assets/scss/form';
@import './assets/scss/common';

body {
  font-family: 'Roboto', sans-serif;
  background-color: #191d23;
  color: #DDE6ED
  // @apply bg-gray-100
}

